{{outlet}}

<div class="jumbotron">
  <p>
    <img src="http://www.alanzosblog.com/wp-content/uploads/you-cant-handle-the-truth-meme-generator-you-want-the-truth-you-can-t-handle-the-truth-9789dd.jpg" alt="" />
  </p>
</div>
